<div class="container">
  <div class="small-12 medium-4 columns">
    <app-shopping-cart></app-shopping-cart>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products | async">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" routerLink="/product-detail/{{product.id}}"
             [src]="product.image"
             alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{product.name}}</p>
          <p class="card-text">{{product.price | currency: 'VND': true}}</p>
          <p>
            <button type="button"
                    class="button success large js-btn-add"
                    (click)="addProductToCart(product, 1)">Add To Cart
            </button>
            <button type="button"
                    class="button small js-btn-remove"
                    *ngIf="productInCart(product) | async"
                    (click)="removeProductFromCart(product, 1)">Remove item from cart
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
