<div class="col-6 offset-3">
  <h3 class="text-center">Edit order detail</h3>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have editted a order detail
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Back to order detail list" routerLink="/orderDetail-list">
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="orderDetailForm"
    (ngSubmit)="orderDetailForm.valid && onSubmit()">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <div class="alert-danger"
           *ngIf="orderDetailForm.get('name').invalid && orderDetailForm.get('name').touched"
           style="color: red">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label>Sale Price</label>
      <input type="text" class="form-control" formControlName="salePrice">
      <div class="alert-danger"
           *ngIf="orderDetailForm.get('salePrice').invalid && orderDetailForm.get('salePrice').touched"
           style="color: red">
        Sale price is required
      </div>
    </div>

    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" formControlName="quantity">
      <div class="alert-danger"
           *ngIf="orderDetailForm.get('quantity').invalid && orderDetailForm.get('quantity').touched"
           style="color: red">
        Quantity is required
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description">
      <div class="alert-danger"
           *ngIf="orderDetailForm.get('description').invalid && orderDetailForm.get('description').touched"
           style="color: red">
        Description is required
      </div>
    </div>


    <div class="form-group">
      <button class="btn btn-primary btn-block">Save</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Cancel" routerLink="/orderDetail-list">
    </div>
  </form>
</div>
