<h2>Product delete</h2>
<div class="col-6 offset-3" *ngIf="product">
  <img [src]="[product.productPicture[0].src]" class="profile-img-card offset-3" style="width: 50%"/>
  <table class="table">
    <tr>
      <td>Name:</td>
      <td>{{product.name}}</td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>{{product.price}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{product.description}}</td>
    </tr>
    <tr>
      <td>Image:</td>
      <td>{{product.image}}</td>
    </tr>
    <tr>
      <td>Promotion:</td>
      <td><div *ngFor="let promotion1 of product.promotion">{{promotion1.name}}</div></td>
    </tr>
    <tr>
      <td>Categories:</td>
      <td>{{product.categories.name}}</td>
    </tr>
    <tr>
      <td>Picture about product</td>
      <td><div *ngFor="let picture of product.productPicture, index as i"><img *ngIf="i!=0" src="{{picture.src}}" width="200px"></div></td>
    </tr>
  </table>
  <input class="btn btn-primary btn-block" value="Delete book" data-toggle="modal" data-target="#exampleModal">
  <input class="btn btn-primary btn-block" value="Back to product list" routerLink="/product-list">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Little Bean </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure delete this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteProduct(product.id)" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
