<!--carousel: băng chuyền ảnh-->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/slide0.png" height="460px"/>
      <div class="carousel-caption">
        <button type="button" class="btn btn-outline-primary btn-lg">Đặt hàng</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/slide1.png" height="460px"/></div>
    <div class="carousel-caption">
      <button type="button" class="btn btn-outline-primary btn-lg">Đặt hàng</button>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/slide2.png" height="460px"/>
      <div class="carousel-caption">
        <button type="button" class="btn btn-outline-primary btn-lg">Đặt hàng</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style=" background-color: aliceblue" >
  <div class="row p-3" style="margin-left: 100px;">
    <div class="col-md-4">
      <h3 class="text-info">GIAO HÀNG MIỄN PHÍ</h3>
      <h6>Với các đơn hàng từ
        <mark class="text-danger">100.000đ</mark>trở lên
        <br/>
        <span class="text-info" style="margin-left: 100px"><i class="fa fa-truck fa-3x"></i></span>
      </h6>
    </div>
    <div class="col-md-4">
      <h3 class="text-info">PHỤC VỤ NHANH 24/7</h3>
      <h6>
        <mark class="text-danger">8h00 đến 22h30</mark>các ngày trong tuần
        <br/>
       <span class="text-info" style="margin-left: 100px"><i class="fa fa-history fa-3x"></i></span>
      </h6>
    </div>
    <div class="col-md-4">
      <h3 class="text-info">ĐỒ UỐNG ĐA DẠNG</h3>
      <h6>Dingtea, Gongcha, trà sữa,...</h6>
      <span class="text-info" style="margin-left: 100px"><i class="fa fa-coffee fa-2x"></i></span>
    </div>
  </div>
</div>
<div>
  <marquee>
    <h4 class="text-primary">Chào mừng quý khách ghé thăm website của  chúng tôi </h4>
    <span class="text-info" style="margin-left: 100px"><i class="fa fa-truck fa-3x"></i></span>
    <span class="text-info" style="margin-left: 100px"><i class="fa fa-truck fa-3x"></i></span>
    <span class="text-info" style="margin-left: 100px"><i class="fa fa-truck fa-3x"></i></span>

  </marquee>
</div>
<app-store-front></app-store-front>
