<div class="col-6 offset-3">
  <h3 class="text-center">Create a new order</h3>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have created a new order
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Create new order " (click)="message = !message">
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Back to order list" routerLink="/order-list">
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="orderForm"
    (ngSubmit)="orderForm.valid && onSubmit()">


    <div class="form-group">
      <label>Purchase date</label>
      <input type="text" class="form-control" formControlName="purchaseDate">
      <div class="alert-danger" *ngIf="orderForm.get('purchaseDate').invalid && orderForm.get('purchaseDate').touched"
           style="color: red">
        Purchase date is required
      </div>
    </div>

    <div class="form-group">
      <label>Delivery date</label>
      <input type="text" class="form-control" formControlName="deliveryDate">
      <div class="alert-danger" *ngIf="orderForm.get('deliveryDate').invalid && orderForm.get('deliveryDate').touched"
           style="color: red">
        Delivery is required
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description">
      <div class="alert-danger" *ngIf="orderForm.get('description').invalid && orderForm.get('description').touched"
           style="color: red">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Create</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Cancel" routerLink="/orderDetail-list">
    </div>
  </form>
</div>
