<div class="container ">
  <div class="row p-2" *ngIf="product">
    <div class="col-md-4">
      <img [src]="product.image" class=" p-2 m-2 float-right" style="width: 330px">
    </div>
    <div class="col-md-4" style="margin-left: 30px">
      <h3 class="text-info p-2 m-2">{{product.name}}</h3>
      <hr width="100%" size="5px" align="left" class="text-primary"/>
      <h5 class="text-primary">{{product.price | currency: 'VND'}}</h5>
      <h6 class="text-primary">Đặc tính:</h6>
      <span class="text-secondary">{{product.description}}</span>
      <br/><br/>
      <h6>
        Giỏ hàng của bạn đang có
        <mark class="text-danger">{{itemCount}} sản phẩm</mark>
        <!--        <span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span>-->
      </h6>

      <p>
        <button type="button"
                class="btn btn-outline-primary"
                (click)="addProductToCart(product, 1)">Thêm sản phẩm này
        </button>
        <button type="button"
                class="btn btn-outline-danger"
                *ngIf="productInCart(product) | async"
                (click)="removeProductFromCart(product, 1)">Xóa sản phẩm này
        </button>
      </p>
      <hr width="100%" size="5px" align="left" class="text-primary"/>
      <h6>Hãy ghé thăm fanpage của chúng tôi nhé</h6>
      <span><a class="text-primary m-3" href="http://www.facebook.com/nguyenkhacgia.bao" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></span>
      <span><a class="text-info m-3" href="https://twitter.com/TheCoffeeBean" target="_blank"><i class="fa fa-twitter-square  fa-3x"></i></a></span>
      <span><a class="text-primary m-3"><i class="fa fa-envelope-square fa-3x" target="_blank"></i></a></span>
      <span><a class="text-danger m-3" href="https://www.coffeebean.com/" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a></span>
    </div>
  </div>
</div>

