<div class="container border">
  <div class="row">
    <div class="col-md-7 p-2">
      <h6>Bạn đã có tài khoản? Bấm
        <mark><a routerLink="/login">vào đây</a></mark>
        để đăng nhập
      </h6>
      <h6>Nếu bạn chưa có tài khoản? Bấm
        <mark><a routerLink="/register">vào đây</a></mark>
        để tạo tài khoản mới
      </h6>
      <hr width="100%" size="5px" align="center" color="red"/>
      <div><h3 class="text-primary">THÔNG TIN THANH TOÁN</h3></div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label class="text-info">Tên (*)</label>
            <input type="text" class="form-control" placeholder="Tên của bạn" required name="">
          </div>
          <div class="col">
            <label class="text-info">Họ</label>
            <input type="text" class="form-control" placeholder="Họ của bạn" required name="">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label class="text-info">Địa chỉ giao hàng (*)</label>
            <input type="text" class="form-control" placeholder="Địa chỉ nhận hàng" required name="">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label class="text-info">Số điện thoại (*)</label>
            <input type="text" class="form-control" placeholder="Số điện thoại" required name="">
          </div>
          <div class="col">
            <label class="text-info">Email</label>
            <input type="text" class="form-control" placeholder="Email" required name="">
          </div>
        </div>
      </div>

      <br/>
      <hr width="100%" size="5px" align="center" color="red"/>
      <div><h3 class="text-primary">THÔNG TIN BỔ SUNG</h3></div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label class="text-info">Chi tiết thông tin</label>
            <textarea class="form-control"
                      placeholder="Ghi chú về địa chỉ giao hàng, ví dụ: thời gian hãy chỉ dẫn địa điểm giao hàng chi tiết hơn"
                      required name="" style="height: 200px"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 p-2" style="margin-top: 60px">
      <div class="border border-danger ">
        <div><h3 CLASS="text-success text-center m-2">ĐƠN HÀNG CỦA BẠN</h3></div>
        <table class="table border-bottom">
          <tr>
            <td class="text-primary font-weight-bold text-center">Sản phẩm</td>
            <td class="text-primary font-weight-bold text-center">Giá</td>
            <td class="text-primary font-weight-bold text-center">Số lượng</td>
            <td class="text-primary font-weight-bold text-center">Tổng cộng</td>
          </tr>

          <tr *ngFor="let item of cartItems">
            <td class="text-primary ">{{item.product.name}}</td>
            <td class="text-center">{{item.product.price | currency: 'VND'}}</td>
            <td class="text-center">{{item.quantity}}</td>
            <td class="text-center">{{item.totalCost | currency: 'VND'}}</td>
          </tr>

          <tr class="col-md-12">
            <td class="text-danger font-weight-bold">Tổng hóa đơn</td>
            <td class="text-danger font-weight-bold"></td>
            <td class="text-danger font-weight-bold"></td>
            <td class="text-success font-weight-bold">{{(cart | async).grossTotal | currency:'VND':true}}</td>
          </tr>
        </table>
      </div>

      <span class="text-secondary m-1 p-1 float-right">Đơn hàng của bạn sẽ được gửi đi trong 15 phút</span>
      <br/>
      <button class="btn btn-success m-1 p-1 float-right" (click)="clickToPay()" style="width: 100px">Đặt hàng</button>
      <div *ngIf="isSuccess" class="text-success float-left" style="width: 400px">Cảm ơn bạn đã thanh toán! Vui lòng đợi
        cuộc gọi từ nhân viên giao hàng
      </div>
      <button class="btn btn-warning mb-2" routerLink="/home">Tiếp tục mua hàng</button>
      <br/>
      <span>Bạn có thể thanh toán qua các dịch vụ sau:</span>
      <div>
        <a href="https://business.momo.vn/login" target="_blank"><img class="ml-4 mt-1" src="https://static.mservice.io/img/momo-upload-api-logo-momo-181015105508.png" style="height: 50px"></a>
        <a href="https://www.vietcombank.com.vn/IBanking2015/55c3c0a782b739e063efa9d5985e2ab4/Account/Login" target="_blank"><img class="ml-4 mt-1" src="https://brasol.vn/public/uploads/1521190030-brasol.vn-logo-vietcombank-logo-vietcombank.jpg" style="height: 60px"></a>
        <a href="https://zalopay.vn/" target="_blank"><img class="ml-4 mt-1" src="https://lh3.googleusercontent.com/F8cUV5oOLjCTMSvSRymK1154MwKalnvkepN4xGrfWBC_tcXvNTq_sEStiwCYV61lRdI" style="height: 50px"></a>
        <a href="https://vietteltelecom.vn/dang-nhap" target="_blank"><img class="ml-4 mt-1" src="https://dl.memuplay.com/new_market/img/com.bplus.vtpay.icon.2019-02-03-11-35-24.png" style="height: 50px"></a>
        <a href="https://vnqrpay.vn/MMSMCSITE/login.htm" target="_blank"><img class="ml-4 mt-1" src="https://lh3.googleusercontent.com/-cDPZJf4s94BC9uXVKx97Q902i2hBdXMTm0ygqnczEBSrVP-YF97zAChMrndcs3IlaQ" style="height: 50px"></a>
      </div>
      <div>
        <h6 class="mt-2">Hoặc thanh toán qua QR code này</h6>
        <span class="ml-8"><img src="../../../../assets/images/qr.png" height="200px"/></span>
      </div>
    </div>
  </div>
</div>
